*{
	margin: 0px;
	padding: 0px;
}
li{
	margin-left: 20px;
}
p span{
	font-weight: bold;
}
body{
	background: url(../images/网页背景.jpg);
	font-family: 'Times New Roman';
	
}
.zhut{
	width: 95%;
	height: 1540px;
	margin: 50px auto;
	
}
.nav{
	background-color: #C7BFE6;
	width: 100%;
	height: 130px;
	border-radius: 10px;
	opacity: 0.8;
	position: relative;
	z-index: 1;
}
.nav center{
	font-size: 35px;
	font-weight: bold;
}
.wz{
	background-color: #C7BFE6;
	margin-top: 20px;
	width: 100%;
	height: 1400px;
	border-radius: 10px;
	opacity: 0.8;
	
}
.wb{
	background-color: #C7BFE6;
	height: 40px;
	width: 100%;
	margin-top: 30px;
	border-radius: 10px;
	line-height: 40px;
	opacity: 0.8;
}
.wz center{
	font-size: 25px;
	padding: 20px;
}
.ckgd{
	width: 150px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	background-color: #D3D3D3;
	border: 2px solid #000000;
	
	cursor: pointer;
	border-radius: 10px;
	margin: auto;
}
.ckgd:hover{
	background-color: #F9B981;
	color: #ffffff;
}
a:hover{
	color: #ffffff;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: #000000;
}
.ul1 span{
	font-weight: bold;
}
.ul1{
	font-size: 20px;
}
.wz2{
	font-size: 20px;
	margin-left: 70px;
	line-height: 30px;
}
.nav-1{
	width: 170px;
	height: 146px;
	border: 2px solid #A349A4;
	position: absolute;
	right: 1%;
	top: 85%;
	z-index: auto;
	display: none;
}
.nav-1 li{
	list-style: none;
	border: 1px solid #A349A4;
	width: 100%;
	height: 35px;
	margin-left: 0px;
	text-align: center;
	color: #A349A4;
}
.nav-1 a{
	color: #A349A4;
	font-weight: bold;
	line-height: 40px;
}